.header {
  text-align: center;
}

.input-box {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 1px black solid;
  text-align: center;
}

.blank-box {
  box-sizing: border-box;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.crossword-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow: scroll;
}

.row {
  display: flex;
}